{
  "comments": false,
  "presets": [
      ["@babel/preset-env", { "targets": { "node": 14 }}]
  ],
  "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-class-properties", { "loose" : true }],
      ["module-resolver", {
          "alias": {
            "@natural/server": "./src/server",
            "@natural/router": "./src/router",
            "@natural/common": "./src/common"
          }
      }]
  ]
}
